/* Estilos generales para toda la página */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Montserrat', 'black', sans-serif;
    font-size: 18px;
}

.font-size-genric {
    font-size: 60px;
    margin: 10px;
}

.font-size-global {
    font-size: 60px;
}

h1.big{
font-size: 3em;
}


.presentation-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    overflow-x: hidden;
}

/* Estilos para el primer slide con imagen de fondo */
#slide1 {
    background-image: url('../img/fondo-slide-1.jpeg'); /* Reemplaza 'ruta-de-tu-imagen.jpg' con la ruta de tu imagen de fondo */
    background-size: cover; /* Hace que la imagen de fondo cubra todo el slide */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* Evita la repetición de la imagen de fondo */
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Estilos para el título */
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40vh;
}

.title span {
    font-size: 58px; /* Tamaño de fuente deseado */
    display: inline-block; /* Hace que los spans se muestren en la misma línea */
    margin: 0 5px; /* Agrega un pequeño margen entre las palabras */
}

.title span.pink-text {
    font-size: 65px;
}

.white-text {
    color: #fff;
}

.green-text {
    color: rgb(166, 194, 0);
}

.pink-text {
    color: rgb(239, 0, 111);
}

.blue-text {
    color: rgb(0, 171, 230);
}

.orange-text {
    color: rgb(238, 76, 0);
}

/* Estilos para el título en el primer slide */
#slide1 .title {
    font-weight: bold; /* Aumenta el grosor de las letras */
    font-size: 48px; /* Tamaño de fuente */
}

/* Estilos para el contenedor de los botones de navegación */
.controls {
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; /* Asegura que los controles estén en la parte superior */
}

/*.controls button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    margin: 0 10px;
    cursor: pointer;
    font-size: 16px;
}*/

/* Estilos para los iconos de Font Awesome */
/* Estilos para los botones de control */
.controls button {
    background-color: transparent; /* Fondo transparente */
    border: none; /* Quita el borde */
}

.controls i {
    font-size: 34px; /* Tamaño del icono por defecto */
    color: white; /* Color del icono */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra más grande y suave */
    transition: transform 0.2s; /* Agrega una transición suave */
    margin-right: 15vh; /*Espacio entre los iconos*/
}

/* Aumenta el tamaño del icono en hover solo en el icono hovereado */
.controls i:hover {
    transform: scale(2.1); /* Aumenta el tamaño al 110% */
}

.iconos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 120px;
}


/* Estilos para el primer slide con imagen de fondo */
#slide2 {
    background-image: url('../img/fondo-slide-2.jpeg'); /* Reemplaza 'ruta-de-tu-imagen.jpg' con la ruta de tu imagen de fondo */
    background-size: cover; /* Hace que la imagen de fondo cubra todo el slide */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* Evita la repetición de la imagen de fondo */
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    align-items: center;
    position: relative;
}

/* Estilos para el logo */
.logo2 {
    /* max-width: 100px; */
    height: auto;
    position: absolute;
    top: 20px;
    right: 20px;
}

/* Estilos para el texto y el botón */
#slide2 .content {
    text-align: center;
    margin-top: 50vh;
}

#slide2 h1 {
    font-weight: bold;
    font-size: 56px;
    margin-bottom: 20px;
}

/* Estilos para el enlace sin subrayado */
.no-underline {
    text-decoration: none; /* Elimina el subrayado */
    color: inherit; /* Hereda el color del texto del botón */
}

/* Estilos para el tercer slide */
#slide3 {
    background-image: url('../img/fondo-slide-3.jpeg'); /* Reemplaza 'ruta-de-tu-imagen.jpg' con la ruta de tu imagen de fondo */
    background-size: cover; /* Hace que la imagen de fondo cubra todo el slide */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* Evita la repetición de la imagen de fondo */
    color: #fff;
    text-align: center;
    padding: 50px;
    width: 100%;
    height: 100vh;
    align-items: center; /* Centra horizontalmente */
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Contenido alineado en la parte inferior */
}

/* Estilos para el título en azul alineado a la izquierda */
#slide3 .blue-text {
    font-weight: bold; /* Letra gruesa */
    font-size: 90px;
    margin-bottom: 10px;
    text-align: left; /* Alinea el título a la izquierda */
    margin-top: 50vh;
}

/* Estilos para el párrafo */
#slide3 p {
    font-size: 28px;
    /*margin: 0; /* Elimina el margen predeterminado del párrafo */
    text-align: left; /* Alinea el párrafo a la izquierda */
}

/* Estilos para el cuarto slide */
#slide4 {
    background-image: url('../img/fondo-slide-4.jpeg'); /* Ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff; /* Color de texto */
    padding: 20px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Contenido alineado en la parte superior */
}

/* Estilos para el título alineado a la izquierda */
#slide4 .title-slide4 {
    font-size: 37px;
    margin-top: 79px;
}

/* Estilos para las columnas */
#slide4 .columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 4vh;
    align-items: flex-start;
}

/* Estilos para cada columna */
#slide4 .column {
    flex-basis: calc(50% - 20px); /* Ancho del 50% con margen entre columnas */
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

/* Estilos para la imagen circular y fondo rosado */
#slide4 .circle-image {
    border-radius: 50%; /* Forma circular */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin-right: 10px; /* Espacio a la derecha de la imagen */
    flex-shrink: 0; /* Evita que la imagen se encoja con el contenido */
    z-index: 1; /* Coloca el título detrás de la imagen */
    position: absolute;
}
/* Estilos para hacer la imagen más pequeña */
.circle-image img {
    width: 130px; /* Cambia el ancho de la imagen a 100px o el valor que desees */
    height: auto; /* Mantén la proporción de la imagen */
}


/* Estilos para el contenido de la columna (imagen y texto) */

/* Estilos para el título de la columna */
#slide4 .column-title {
    font-weight: bold;
    color: #fff; /* Color de texto blanco */
    margin-bottom: 10px;
    background: rgb(239, 0, 111);
    /* Degradado lineal de rosa a transparente, comenzando más a la izquierda */
    padding: 10px; /* Espacio interno para el fondo */
    position: absolute; /* Establece la posición absoluta para el título */
    top: 0; /* Alinea el título en la parte superior del contenedor */
    left: 13vh; /* Alinea el título a la izquierda del contenedor */
    right: 2vh; /* Alinea el título a la derecha del contenedor */
    /*z-index: -1; /* Coloca el título detrás de la imagen */
}

.text-content p.description {
    position: absolute;
    margin-top: 9vh;
    left: 17vh;
}

/* Estilos para el contenido de la columna (imagen y texto) */
#slide4 .column-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* El texto se expande para llenar el espacio restante */
    margin-bottom: -4vh; /* Espacio entre column-content */
    position: relative; /* Establece la posición relativa para el contenedor */
    height: 24vh;
}


/* Estilos para el quinto slide */
#slide5 {
    background-image: url('../img/fondo-slide-5.jpeg'); /* Ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff; /* Color de texto */
    padding: 20px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Contenido alineado en la parte superior */
}

/* Estilos para el texto y el botón */
#slide5 .content {
    text-align: center;
    margin-top: 45vh;
}

#slide5 h1 {
    font-weight: bold;
    font-size: 56px;
    margin-bottom: 20px;
}
span.text-5 {
    left: 66vh;
    position: absolute;
}

#slide5 .orange-button {
    background-color: rgb(238, 76, 0);
    color: #fff;
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    border-radius: 50px; /* Ajusta este valor según el grado de redondez que desees */
    cursor: pointer;
    transition: background-color 0.3s; /* Transición de color al pasar el mouse */
    left: 66vh;
    position: absolute;
    margin-top: 65px;
}

#slide5 .orange-button:hover {
    background-color: darkorange; /* Cambia el color al pasar el mouse */
}

/* Estilos para el sexto slide */
#slide6 {
    background-image: url('../img/fondo-slide-6.jpeg'); /* Ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff; /* Color de texto */
    padding: 20px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Contenido alineado en la parte superior */
}

/* Estilos para el texto y el botón */
#slide6 .content {
    text-align: center;
    margin-top: 40vh;
}

.title-large {
    text-align: left;
}

#slide6 h1 {
    font-weight: bold;
    font-size: 56px;
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-align-left {
    text-align: left; /* Alinea el contenido a la izquierda */
}

/* Estilos para el Slide 7 */
#slide7 {
    background-image: url('../img/fondo-slide-7.jpeg'); /* Ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff; /* Color de texto */
    padding: 20px; /* Espacio interior */
    text-align: center; /* Centra el contenido horizontalmente */
}

.pink-back {
    background-color:rgb(239, 0, 111);
    text-align: left;
    right: 77vh;
    left: -25px;
    top: 3px;
    position: relative;
    width: 93vh;
    margin: 55px 0 0 20px;
}

/* Estilos para el título */
#slide7 h2 {
    font-size: 30px;
    margin: 0; /* Elimina el margen predeterminado */
}

/* Estilos para el contenedor de columnas */
.slide-7 .columns {
    display: flex;
    justify-content: space-between; /* Espacio entre columnas */
    margin-top: 20px; /* Espacio superior */
}

/* Estilos para cada columna */
.slide-7 .column {
    flex-basis: calc(33.33% - 10px); /* Ancho del 33.33% con espacio entre columnas */
}

.orange-bg {
    background: rgb(238, 76, 0); /* Color de fondo naranja */
}

/* Estilos para el contenido de cada columna */
.slide-7 .column-content {
    padding: 10px; /* Espacio interior */
    text-align: left; /* left el contenido horizontalmente */
}

.slide-7 .columns .column .column-content {
    margin-bottom: 30px;
    margin-top: 20px;
}
/* Estilos para los íconos */
#slide7 .icon {
    font-size: 24px;
}

/* Estilos para el texto dentro de las columnas */
#slide7 .column-content p {
    margin: 0; /* Elimina el margen predeterminado */
    margin-left: 20px;
}

/* Estilos para las imágenes en círculo */
.circle-image-7 {
    background-color:rgb(239, 0, 111);
    width: 100px; /* Ancho de las imágenes en círculo */
    height: 100px; /* Altura de las imágenes en círculo */
    border-radius: 50%; /* Hace que las imágenes sean circulares */
    /*margin: 0 auto; /* Centra las imágenes horizontalmente */
    display: block; /* Elimina el espacio adicional debajo de las imágenes */
}

/* Estilos para el contenedor que envuelve la imagen y el texto */
.image-text-container {
    display: flex; /* Activa el modelo de caja flexible */
    align-items: center; /* Centra verticalmente los elementos */
}



/* Estilos para el Slide 8 */
#slide8 {
    background-image: url('../img/fondo-slide-8.jpeg'); /* Ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Estilos para el fondo rosa */
.slide8-pink-background {
    background: rgb(239, 0, 111);
    padding: 10px 0;
    text-align: left;
    left: -21px;
    position: relative;
    width: 116vh;
    margin-top: 52px;
}

/* Estilos para el texto en fondo rosa */
.slide8-white-text {
    color: #fff;
    font-size: 30px;
    margin-left: 80px;
}

/* Estilos para el contenedor de imagen y texto */
.slide8-image-text-container {
    display: flex;
    align-items: center;
}

/* Estilos para las imágenes en círculo */
.slide8-circle-image {
    width: 150px;
    /* height: 100px; */
    border-radius: 50%;
    margin-right: 10px;
}

/* Estilos para la imagen ancha */
.slide8-wide-image {
    width: auto;
    /* height: 100px; */
    /* margin-top: 96px; */
}

/* Estilos para las filas */
.slide8-row {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

/* Estilos para el texto en las filas */
.slide8-text {
    margin: 0;
}

/* Estilos para el contenedor de columnas */
.slide8-columns {
    display: flex;
    justify-content: space-around; /* Espacio entre las columnas */
    margin-top: 20px;
}


/* Estilos para el Slide 9 */
#slide9 {
    background-image: url('../img/fondo-slide-9.jpeg'); /* Ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    padding: 20px; /* Espacio interior */
    text-align: center; /* Centra el contenido horizontalmente */
}

/* Estilos para el fondo rosa */
.slide9-pink-background {
    background: rgb(239, 0, 111);
    padding: 3px 40px 2px 60px;
    text-align: right;
    width: 100vh;
    margin-left: -9px;
    font-weight: bold;
}

/* Estilos para el texto en fondo rosa */
.slide9-white-text {
    color: #fff;
    font-size: 30px;
    margin-left: -7px;
    padding: 0px;
    text-align: left;
    left: 19px;
    position: relative;
}

/* Estilos para las filas */
.slide9-row {
    display: flex;
    justify-content: space-between; /* Espacio entre elementos en la fila */
    margin-top: 20px; /* Espacio superior */
}

/* Estilos para la columna */
.slide9-column {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 20px;
    padding: 30px;
    /* align-content: space-around; */
    justify-content: space-around;
}

/* Estilos para el contenedor de imagen y texto */
.slide9-image-text-container {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
}

/* Estilos para las imágenes en círculo */
.slide9-circle-image {
    width: 100px; /* Ancho de las imágenes en círculo */
    height: 100px; /* Altura de las imágenes en círculo */
    border-radius: 50%; /* Hace que las imágenes sean circulares */
    margin-right: 10px; /* Espacio a la derecha de la imagen */
}

/* Estilos para las filas */
.slide9-row {
    display: flex;
    justify-content: center; /* Centra horizontalmente las columnas */
    margin-top: 20px; /* Espacio superior */
    padding: 20px;
}

/* Estilos para las columnas */
.slide9-column {
    flex: 1; /* Ocupa el espacio disponible */
    margin: 0;
}

/* Estilos para la descripción */
.slide9-description {
    margin-top: 20px; /* Espacio superior */
    text-align: left; /* Alineación del texto a la izquierda */
}

.slide9-text {
    text-align: justify;
}

/* Estilos para el Slide 10 */
#slide10 {
    background-image: url('../img/fondo-slide-8.jpeg'); /* Ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px; /* Espacio interior */
    text-align: center; /* Centra el contenido horizontalmente */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura igual al 100% de la ventana */
}

/* Estilos para el fondo rosa */
.slide10-pink-background {
    background: rgb(239, 0, 111);
    padding: 1.3px 23px 1px;
    position: relative;
    left: -20px;
    text-align: left;
    margin-top: 25px;
    width: 100vh;
}

/* Estilos para el texto en fondo rosa */
.slide10-white-text {
    color: #fff; /* Color del texto blanco */
    font-size: 30px; /* Tamaño del texto */
}

/* Estilos para el subtítulo */
.slide10-subtitle {
    margin: 20px 0; /* Espacio superior e inferior */
    text-align: left; /* Alineación del texto a la izquierda */
}

/* Estilos para las filas */
.slide10-row {
    display: flex;
    flex-wrap: wrap; /* Permite que las columnas se ajusten en filas */
    justify-content: space-between; /* Espacio entre elementos en la fila */
    margin-top: 20px; /* Espacio superior */
}

/* Estilos para las columnas */
.slide10-column {
    flex: 1; /* Ocupa el espacio disponible */
    text-align: center; /* Centra el contenido horizontalmente */
    margin: 10px; /* Espacio entre columnas */
}

/* Estilos para las imágenes en las columnas */
.slide10-column-image {
    width: 100%; /* Ancho de las imágenes al 100% de la columna */
    height: 10px; /* Altura de las imágenes */
}

/* Estilos para el texto en las columnas */
.slide10-text {
    margin: 0; /* Elimina el margen predeterminado del párrafo */
    text-align: center; /* Alineación del texto al centro */
}



/* Estilos para el Slide 12 */
#slide12 {
    background-image: url('../img/fondo-slide-12.jpeg'); /* Ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px; /* Espacio interior */
    text-align: center; /* Centra el contenido horizontalmente */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura igual al 100% de la ventana */
}

/* Estilos para el título */
.slide12-title {
    font-size: 36px; /* Tamaño del texto */
    margin-bottom: 20px; /* Espacio inferior */
}

/* Estilos para las filas */
.slide12-row {
    display: flex;
    flex-wrap: wrap; /* Permite que las columnas se ajusten en filas */
    justify-content: space-between; /* Espacio entre elementos en la fila */
    margin-top: 20px; /* Espacio superior */
}

/* Estilos para el contenedor del elemento que contiene las 3 columnas */
.elemento {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%; /* Ocupa todo el ancho disponible */
    padding: 25px;
}

/* Estilos para las columnas */
.slide12-column {
    flex-basis: calc(33.33% - 20px); /* Tamaño de columna con margen */
    margin-right: 20px; /* Margen derecho entre columnas */
    margin-bottom: 20px; /* Margen inferior entre filas */
}

/* Estilos para el contenedor de imagen y texto */
.slide12-image-text-container {
    display: flex;
    flex-direction: row; /* Alinea los elementos en una fila */
    align-items: center; /* Alinea verticalmente los elementos */
    margin: 27px;
}

/* Estilos para las imágenes en círculo */
.slide12-circle-image {
    width: 120px; /* Ancho de las imágenes en círculo */
    /*height: 100px; /* Altura de las imágenes en círculo */
    border-radius: 50%; /* Hace que las imágenes sean circulares */
    margin-right: 10px; /* Espacio a la derecha de la imagen */
}

/* Estilos para el texto en las filas */
.slide12-text {
    margin: 0; /* Elimina el margen predeterminado del párrafo */
    text-align: left; /* Alinea el texto a la izquierda */
}

/* Estilos para el texto en las filas */
.slide12-text {
    margin: 0; /* Elimina el margen predeterminado del párrafo */
}


/* Estilos para el Slide 13 */
#slide13 {
    background-image: url('../img/fondo-slide-9.jpeg'); /* Ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px; /* Espacio interior */
    text-align: center; /* Centra el contenido horizontalmente */
    min-height: 100vh; /* Altura igual al 100% de la ventana */
}

/* Estilos para el título */
.slide13-title {
    font-size: 24px; /* Tamaño del texto */
    padding: 10px; /* Espacio interior */
    margin-bottom: 10px; /* Espacio inferior */
}

/* Estilos para el título grande */
.slide13-big-title {
    font-size: 45px; /* Tamaño del texto grande */
    margin-bottom: 20px; /* Espacio inferior */
    margin-top: -1px;
}

/* Estilos para el texto en las filas */
.slide13-text {
    font-size: 14px; /* Tamaño del texto */
    margin: 0; /* Elimina el margen predeterminado del párrafo */
    text-align: left; /* Alinea el texto a la izquierda */
}

/* Estilos para las filas de columnas */
.slide13-row {
    display: flex;
    flex-wrap: wrap; /* Permite que las columnas se ajusten en filas */
    justify-content: space-between; /* Espacio entre elementos en la fila */
    /*margin-top: 20px; /* Espacio superior */
}

/* Estilos para las columnas */
.slide13-column {
    flex-basis: calc(25% - 20px); /* Tamaño de columna con margen */
    margin-right: 20px; /* Margen derecho entre columnas */
    margin-bottom: 20px; /* Margen inferior entre filas */
}

/* Estilos para el contenedor de títulos con fondo rosado */
.pink-bg-13 {
    background: rgb(239, 0, 111); /* Fondo rosa */
    color: #fff; /* Color del texto blanco */
    padding: 10px; /* Espacio interior */
}

.title-13{
    font-size: 16px;
    padding-top: 0px;
    font-weight: bold;
    text-align: justify;
    margin: 0;
}
.sub-title-13{
    text-align: justify;
    font-size: 13px;
    margin: 0;
    padding-bottom: 0px;
}



/* Estilos para el slide14 */
#slide14 {
    background-image: url('../img/fondo-slide-3.jpeg'); /* Ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}




/* Estilos para el slide16 */
#slide16 {
    background-image: url('../img/fondo-slide-16.jpeg'); /* Ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#slide16 .content-img-16 {
    display: flex;
    flex-direction: row; /* Alineación horizontal */
    justify-content: center; /* Centro horizontal */
    align-items: center; /* Centro vertical */
}

/* Estilos para el contenedor de las imágenes */
.image-container-16 {
    flex-basis: 45%; /* Ancho del 50% para dos imágenes en fila */
    margin-right: 20px; /* Espacio entre las imágenes */
    overflow: hidden; /* Oculta el contenido extra de las imágenes si es necesario */
}

/* Estilos para las imágenes */
.image-container-16 img {
    width: 520px; /* Ajusta el ancho de la imagen al 100% del contenedor */
    height: auto; /* Altura automática para mantener la proporción */
    object-fit: cover; /* Ajusta la imagen al contenedor sin distorsionar */
}


/* Estilos para el slide17 */
#slide17 {
    background-image: url('../img/fondo-slide-17.jpeg'); /* Ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#slide17 .content-img {
    display: flex;
    flex-direction: row; /* Cambia la dirección a horizontal */
    justify-content: flex-start; /* Alinea las imágenes a la izquierda */
    align-items: center;
}

/* Estilos para el contenedor de cada imagen */
.image-container {
    flex-basis: calc(25% - 20px); /* Ancho del 25% menos el espacio entre imágenes */
    margin-right: 20px; /* Espacio entre las imágenes */
    overflow: hidden; /* Oculta el contenido extra de las imágenes si es necesario */
}

/* Estilos para las imágenes */
.image-container img {
    width: 300px; /* Ancho fijo de 300px para las imágenes */
    height: 100%; /* Ajusta la altura de la imagen al 100% del contenedor */
    object-fit: cover; /* Ajusta la imagen al contenedor sin distorsionar */
}


/* Estilos para el 18 slide */
#slide18 {
    background-image: url('../img/fondo-slide-18.jpeg'); /* Ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Estilos para slide generico*/
.generic {
    color: #fff; /* Color de texto */
    padding: 20px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Contenido alineado en la parte superior */
}

/* Estilos para el texto y el botón */
.generic .content {
    text-align: center;
    margin-top: 40vh;
}

.content-img {
    text-align: center;
    margin-top: 10vh;
}

.orange-button {
    font-weight: bold;
    background-color: rgb(238, 76, 0);
    color: #fff;
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    border-radius: 50px; /* Ajusta este valor según el grado de redondez que desees */
    cursor: pointer;
    transition: background-color 0.3s; /* Transición de color al pasar el mouse */
}

.orange-button:hover {
    background-color: darkorange; /* Cambia el color al pasar el mouse */
}